<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Tweet Analyser</title>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="/static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="File Upload Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>

<!-- <h1>FILE UPLOAD WIDGET</h1> -->

<div class="upload">
			<h3>Output</h3>
		<div class="login-form">


			<pre>{{ content }}</pre>

		</div>



	<!-- JavaScript Includes -->
		<script src="/static/js/jquery.knob.js"></script>
	<!-- JavaScript Includes -->

	<!-- jQuery File Upload Dependencies -->
		<script src="/static/js/jquery.ui.widget.js"></script>
		<script src="/static/js/jquery.iframe-transport.js"></script>
		<script src="/static/js/jquery.fileupload.js"></script>
	<!-- jQuery File Upload Dependencies -->

	<!-- Main JavaScript file -->
		<script src="/static/js/script.js"></script>
	<!-- Main JavaScript file -->

</div>

<div class="footer">
     <!-- <p>Copyright &copy; 2015 File Upload Widget. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p> -->
</div>

</body>
</html>